#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  width: 100%; 
  height: 100vh;
  background-image: url(https://img.freepik.com/fotos-premium/mapa-mundo-luces-lineas-que-muestran-mundo_828075-3626.jpg?w=996);
  background-size: cover;
  background-position: center; 
 /*  background-repeat: no-repeat; */
  /* background-color: #030305; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
